html {
  transition-duration: .3s;
}

body {
  background: transparent;
  transition-duration: .3s;
}

i:hover {
  cursor: pointer;
}

.theme {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(168, 168, 168);
  transition: .3s;
}

.theme1 {
  background-color: white;
}

.theme2 {
  background-color: rgb(233, 237, 156);
}

.theme3 {
  background-color: black;
}

.theme4 {
  background-color: rgb(205, 149, 149);
}

.theme5 {
  background-color: rgb(162, 232, 218);
}

.theme-active {
  width: 50px;
  height: 50px;
  border: 2px solid black;
}